fastapi>=0.104.1
uvicorn[standard]>=0.24.0
alembic
psycopg2-binary
slowapi
python-dotenv>=1.0.0
passlib
python-multipart>=0.0.6
email-validator
faiss-cpu
numpy>=1.21.0
gradio
pydantic>=2.0.0
sentence-transformers>=2.2.2
Pillow>=10.0.0
openai>=1.0.0
requests>=2.31.0
pymupdf
pdf2image>=1.16.0
poppler-utils
pytesseract
python-dotenv
langchain-groq
gradio_multimodalchatbot

